@charset "utf-8";
/* CSS Document */
/* 默认全局样式超链接样式 */
/* Style for our header texts
 * --------------------------------------- */

h1 {
    font-size: 72px;
    font-weight: 700;
    color: black;
    margin: auto;
    padding: 0;
}

.intro {
    text-align: center;
    vertical-align: middle;
    padding: 30px 0px;
    word-break: break-all;
}

.intro h1 {
    color: white;
}

.intro p {
    font-size: 30px;
    line-height: 50px;
}

.introleft {
    text-align: left;
    vertical-align: middle;
    padding: 30px 0px;
    word-break: break-all;
}

.introleft p {
    font-size: 30px;
    line-height: 50px;
}

.introright {
    text-align: right;
    vertical-align: middle;
    padding: 30px 0px;
    word-break: break-all;
}

.introright p {
    font-size: 30px;
    line-height: 50px;
}
/* Centered texts in each section
 * --------------------------------------- */

.section {
    text-align: center;
}

.sectiontitle {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-duration: 3s;
    -ms-animation-delay: 2s;
    -ms-animation-iteration-count: infinite;
    -moz-animation-duration: 3s;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
}

#myVideo {
    padding-top: 90px;
    padding-bottom: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    /* in case the video doesn't fit the whole page*/

    background-image:
    /* our video */

    ;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    /*cover video background */

    z-index: 3;
}
/* Layer with position absolute in order to have it over the video
 * --------------------------------------- */

#section0 .layer {
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;
}
/*solves problem with overflowing video in Mac with Chrome */

#section0 {
    overflow: hidden;
}
/* Fixed header and footer.
 * --------------------------------------- */

#main {
    top: 90px;
    position: fixed;
    width: 100%;
    height: 100%;
}

#message {
    position: fixed;
    width: 100%;
    top: 90px;
    text-align: center;
}
/* Bottom menu
 * --------------------------------------- */

#infoMenu {
    bottom: 80px;
}

#infoMenu li a {
    color: #fff;
    z-index: 999;
}



.img-responsive {
    display: initial;
}

.button-wrapper {
    display: table-cell;
    vertical-align: top;
    height: 90px;
    border-radius: 3px;
    background: #f75288;
    border: 0;
    font-size: 25px;
    color: #fff;
    inline-height: 30px;
    text-transform: none;
}

.button-wrapper a {
    color: #fff;
}
